* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    text-align: center;
    background-color: rgba(83, 83, 170, 0.533);
}

main {
    display: flex;
}

#city-search-container, #weather-details-container {
    margin: 15px;
}