* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    text-align: center;
}

header h1 {
    padding: 15px 0;
}

h4 {
    margin-bottom: 15px;
    border-bottom: 1px solid white;
}

p {
    margin: 7px 0;
}

#city-search {
    width: 100%;
}

#city-search-form {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(135, 135, 135, 0.919);
}

#city-search-button {
    margin-top: 8px;
    width: 100%;
    border: none;
}

#current-weather-display, #five-day-forecast-container {
    display: none;
}